* {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}
body {
    margin: 0;
    margin-bottom: 65px;
}
.row1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 700px;
    margin-left: 120px;
}
.row img {
    width: 100%;
    height: auto;
    flex-basis: 33.33%;
    box-sizing: border-box;
    padding: 10px;
} 
.row2 {
    display: flex;
    height: 250px;
    margin-left: 180px;
    margin-bottom: 200px;
}
.row3 {
    text-align: center;
    height: 150px;
    background-color: rgb(95, 150, 168);
    color: white;
}
.row4 {
    display: flex;
    height: 530px;
    flex-wrap: wrap;
}
.row4-1,
.row4-2 {
  flex: 1;
}
.row5 {
    display: flex;
    background-color: rgb(78, 78, 78);
    color: white;
}
.textorow3-1 {
    padding: 20px;
    font-size: 35px;
}
.textorow3-2 {
    margin-top: -20px;
    font-size: 26px;
}
.textorow4-1 {
    font-size: 40px;
}
.textorow4-2 {
    font-weight: normal;
    font-size: 20px;
}
.textorow5-1 {
    color: black;
    font-size: 20px;
}
.textorow5-2 {
    font-weight: normal;
    font-size: 20px;
    color: white;
}
/* indica el estilo al encabezado 1 */
.texto1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 60px;
    width: 65%;
    text-align: center;
}
/* indica el estilo al id "imgenc" */
#imgenc {
    max-width: 100%;
    width: 100%;
    height: 100%;
}
.heightimg {
    height: 250px;
}
.tituloproy {
    text-align: center;
    font-size: 25px;
}
.img {
    max-width: 150%;
    max-height: 150%;
}
.img2 {
    max-width: 150%;
    max-height: 150%;
    margin-top: 250px;
}
.column {
    flex: 1;
    height: 150px;
}
.column-2 {
    width: 50%;
}
.column-2-2 {
    display: flex;
}
.backgroundcolor {
    background-color: rgb(129, 129, 129);
}
.column-3 {
    width: 33.33%;
}
.column-4 {
    flex-basis: 50%;
    height: 100%;
}
.classtitle1 {
    margin-bottom: 10px;
}
.marginleft {
    margin-left: 125px;
}
footer {
	background-color: black;
	text-align: center;
	padding: 1px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}
.textofooter {
    font-weight: normal;
    color: white;
    font-size: 20px;
}
@media screen and (max-width: 600px) {
    body {
        margin: 0;
        margin-bottom: 65px;
    }
    .row1, .row2 {
        flex-wrap: wrap;
        height: auto;
        flex-grow: 1;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    /* indica la media query de la segunda seccion */
    .row3 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    /* indica la media query de la tercera seccion */
    .row4 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: -100px;
        margin-bottom: 675px;
    }
    .row4-1, .row4-2 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    /* indica la media query de la cuarta seccion */
    .row5 {
        flex-direction: column;
    }
    .column-1 {
        width: 100%;
    }
    .column-2 {
        width: 100%;
    }
    /* indica la media query de las filas 2, 3 y 4 (para que pasen a media 100% y no el 50%) */
    .column-3 {
        width: 50%;
      }
    /* indica la media query de la fila 5 (para que pasen a media 50% y no el 25%) */
    .column-4 {
        flex-basis: 50%;
    }
    .column-5 {
        width: 50%;
        flex-grow: 1;
    }
    .texto1 {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(0, 0, 0);
        font-size: 30px;
        width: 65%;
        text-align: center;
    }
    .heightimg {
        height: auto;
    }
    .img {
        max-width: 90%;
        max-height: 90%;
    }
    .img2 {
        max-width: 90%;
        max-height: 90%;
        margin-top: 0px;
    }
    .textorow3-1 {
        padding: 0px;
        font-size: 30px;
        margin-left: 150px;
    }
    .textorow3-2 {
        font-size: 25px;
        margin-left: 10%;
    }
    .columnmap {
        margin-top: 20px;
    }
    .textorow5-1 {
        color: black;
        font-size: 20px;
    }
    .textorow5-2 {
        font-weight: normal;
        font-size: 20px;
        color: white;
    }
}